/* Navigation Bar */
:root {
    --colorWhite: #ffffff;
    --colorNeutralCool: #f9f9f9;
    --colorNeutralWarm: #f2f0eb;
    --colorCeramic: #edebe9;
    --colorBlack: #000000;
    --colorGreenStarbucks: #006241;
    --colorGreenAccent: #00754A;
    --colorGreenLight: #d4e9e2;
    --colorGreenUplift: #2b5148;
    --colorHouseGreen: #1E3932;
    --colorGold: #cba258;
    --colorGoldLight: #dfc49d;
    --colorGoldLightest: #faf6ee;
    --colorRed: #c82014;
    --colorYellow: #fbbc05;
    --colorWhiteHsl: 0 0% 100%;
    --colorNeutralCoolHsl: 0 0% 98%;
    --colorNeutralWarmHsl: 43 21% 94%;
    --colorCeramicHsl: 30 10% 92%;
    --colorBlackHsl: 0 0% 0%;
    --colorGreenStarbucksHsl: 160 100% 19%;
    --colorGreenAccentHsl: 158 100% 23%;
    --colorGreenLightHsl: 160 32% 87%;
    --colorHouseGreenHsl: 164 31% 17%;
    --colorGoldHsl: 39 53% 57%;
    --colorGoldLightHsl: 35 51% 75%;
    --colorGoldLightestHsl: 40 55% 96%;
    --colorRedHsl: 4 82% 43%;
    --colorYellowHsl: 45 97% 50%;
    --colorBlack6: rgba(0,0,0,.06);
    --colorBlack10: rgba(0,0,0,.1);
    --colorBlack20: rgba(0,0,0,.2);
    --colorBlack30: rgba(0,0,0,.3);
    --colorBlack40: rgba(0,0,0,.4);
    --colorBlack50: rgba(0,0,0,.5);
    --colorBlack60: rgba(0,0,0,.6);
    --colorBlack70: rgba(0,0,0,.7);
    --colorBlack80: rgba(0,0,0,.8);
    --colorBlack90: rgba(0,0,0,.9);
    --colorWhite10: rgba(255,255,255,.1);
    --colorWhite20: rgba(255,255,255,.2);
    --colorWhite30: rgba(255,255,255,.3);
    --colorWhite40: rgba(255,255,255,.4);
    --colorWhite50: rgba(255,255,255,.5);
    --colorWhite60: rgba(255,255,255,.6);
    --colorWhite70: rgba(255,255,255,.7);
    --colorWhite80: rgba(255,255,255,.8);
    --colorWhite90: rgba(255,255,255,.9);
    --colorTextBlack: rgba(0,0,0,.87);
    --colorTextBlackSoft: rgba(0,0,0,.58);
    --colorTextWhite: rgba(255,255,255,1);
    --colorTextWhiteSoft: rgba(255,255,255,.70);
    --typefaceLoading: Helvetica Neue,Helvetica,Arial,sans-serif;
    --typefacePrimary: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    --typefaceSerif: StarbucksSerifCA,Georgia,serif;
    --textSize1: 13px;
    --textSize1: 1.3rem;
    --textSize2: 14px;
    --textSize2: 1.4rem;
    --textSize3: 16px;
    --textSize3: 1.6rem;
    --textSize4: 19px;
    --textSize4: 1.9rem;
    --textSize5: 20px;
    --textSize5: 2.0rem;
    --textSize6: 22px;
    --textSize6: 2.2rem;
    --textSize7: 24px;
    --textSize7: 2.4rem;
    --textSize8: 28px;
    --textSize8: 2.8rem;
    --textSize9: 36px;
    --textSize9: 3.6rem;
    --textSize10: 50px;
    --textSize10: 5.0rem;
    --letterSpacingNormal: -0.01em;
    --letterSpacingLoose: 0.1em;
    --letterSpacingLooser: 0.15em;
    --lineHeightNormal: 1.5;
    --lineHeightCompact: 1.2;
    --space-1: 4px;
    --space-1: .4rem;
    --space-2: 8px;
    --space-2: .8rem;
    --space-3: 16px;
    --space-3: 1.6rem;
    --space-4: 24px;
    --space-4: 2.4rem;
    --space-5: 32px;
    --space-5: 3.2rem;
    --space-6: 40px;
    --space-6: 4rem;
    --space-7: 48px;
    --space-7: 4.8rem;
    --space-8: 56px;
    --space-8: 5.6rem;
    --space-9: 64px;
    --space-9: 6.4rem;
    --frapPadding: 90px;
    --frapPadding: 9rem;
    --frapPaddingDouble: 146px;
    --frapPaddingDouble: 14.6rem;
    --logoOffsetMd: 99px;
    --logoOffsetLg: 131px;
    --outerGutter: 16px;
    --outerGutter: 1.6rem;
    --outerGutterMedium: 24px;
    --outerGutterMedium: 2.4rem;
    --outerGutterLarge: 40px;
    --outerGutterLarge: 4.0rem;
    --headerCrateOuterGutterLarge: 40px;
    --headerCrateOuterGutterLarge: 4.0rem;
    --buttonActiveScale: scale(0.95);
    --buttonBorderRadius: 50px;
    --buttonBorderWidth: 1px;
    --buttonLineHeight: 1.2;
    --buttonPadding: 7px 16px;
    --buttonTransition: all 0.2s ease;
    --validFieldTintBackground: hsl(var(--colorGreenLightHsl)/33%);
    --invalidFieldTintBackground: hsl(var(--colorRedHsl)/5%);
    --floatLabelFontSizeMobile: 16px;
    --floatLabelFontSizeMobile: 1.6rem;
    --floatLabelActiveFontSizeMobile: 13px;
    --floatLabelActiveFontSizeMobile: 1.3rem;
    --floatLabelFontSizeDesktop: 19px;
    --floatLabelFontSizeDesktop: 1.9rem;
    --floatLabelActiveFontSizeDesktop: 14px;
    --floatLabelActiveFontSizeDesktop: 1.4rem;
    --formHorizontalPadding: 16px;
    --formHorizontalPadding: 1.6rem;
    --headerCrateProportion: 40vw;
    --contentCrateProportion: 60vw;
    --globalNavHeightXs: 64px;
    --globalNavHeightMobile: 72px;
    --globalNavHeightTablet: 83px;
    --globalNavHeightDesktop: 99px;
    --globalSubnavHeight: 53px;
    --cardBorderRadius: 12px;
    --cardBoxShadow: 0px 0px .5px 0px rgba(0,0,0,0.14),0px 1px 1px 0px rgba(0,0,0,0.24);
    --cardBackgroundColor: #ffffff;
    --columnWidthSmall: 343px;
    --columnWidthMedium: 500px;
    --columnWidthLarge: 720px;
    --columnWidthXLarge: 1440px;
    --defaultAnimationEntranceDuration: 300ms;
    --defaultAnimationExitDuration: 200ms;
    --defaultAnimationEasing: cubic-bezier(0.25,0.1,0.25,1);
    --svcRoundedCorners: 3.3333%/5.298%;
    --svcShadowFilter: drop-shadow(0px 4px 1px rgba(0,0,0,0.11)) drop-shadow(0px 0px 2px rgba(0,0,0,0.24));
    --newFont: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

*{
    box-sizing: border-box;
}

.siteLimits{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}
body.menuOpen{
    overflow: hidden;
}

.navBar {
    width: 100%;
    border-bottom: 1px solid #e6e4e4;

    color: #e6e4e4;

}

.navContent{
    width: 100%;
    max-width: 1480px;
    margin: 0;

    padding: 0 40px;
    min-height: 99px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navLeft,
.navRight{
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 24px;
    width: 49.36px;
    height: 49.36px;
}
.menu {
    
    border: none;
    background: none;
    outline: none;

    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    font-family: var(--newFont);
    cursor: pointer;

}
.menu:hover {
    color: #066214;
}

.rewards {
    margin-left: 24px;

    border: none;
    background: none;
    outline: none;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-family: var(--newFont);

    cursor: pointer;

}
.rewards:hover {
    color: #066214;
}

.giftCards {
    margin-left: 24px;

    border: none;
    background: none;
    outline: none;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-family: var(--newFont);
    cursor: pointer;

}   
.giftCards:hover {
    color: #066214;
}

.findStore {
    
    margin-right: 40px;
    border: none;
    background: none;

    padding: 0px 40px 0px 0px;

    font-size: 14px;
    font-weight: normal;
    font-family: var(--newFont);
    cursor: pointer;

}
.findStore:hover {
    color: #066214;
}

.signIn {
    margin-right: 16px;
    border-radius: 50px;
    background : none;
    color: #000000;
    border-width: 1px;
    line-height: 1.2;
    text-align: center;

    border-style: solid;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--newFont);
    cursor: pointer;
    padding: 7px 16px;

}
.signIn:hover {
    background-color: #939693;
}

.joinNow {
    
    border-radius: 50px;
    background-color: #000000;
    color: #fcfcfc;

    border-width: 1px;
    line-height: 1.2;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--newFont);
    cursor: pointer;
    padding: 7px 16px;
}

.joinNow:hover {
    background-color: #575757;
}

/* Start Order Section */

.startOrder {   
    background-color: #32462F;
    padding: 32px 0px;
    margin: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.textStart{
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    font-family: var(--newFont);
    letter-spacing: 1.75;

}

.startOrderButton {
    

    font-size: 19px;
    font-family: var(--newFont);
    

    background-color: rgb(50, 70, 47); 
    color: rgb(255, 255, 255); 

    text-decoration: none; 
    padding: 2px 12px; 
    border-radius: 50px; 
    margin-left: 15px;
     
    display: inline-block; 
    border: 2px solid rgb(255, 255, 255); 
    font-weight: 300; 
    transition: 0.3s; 
    cursor: pointer;

}
.startOrderButton:hover {
    background-color: rgb(0, 117, 74);
}

/* First Segment with Image */

.firstSegmentWImage{
    background-color:#006342;
    width: calc(100% - 48px);
    max-width: 1440px;
    height:  420px;
    display: flex;
    margin: 24px 24px 0px 24px;
}

.firstSegmentImage{
    width: 50%;
    height: 420px;
    object-fit: cover;
}

.firstSegmentTextContainer{
    width: 50%;
    height: 420px;
    padding: 32px 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color:#006342;

}

.firstSegmentText{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: var(--newFont);;
    margin: 0px 0px 24px;

}

.firstSegmentSubText{
    display:flex;
    
    align-items: center;

    color: #ffffff;
    font-family: var(--newFont);;
    font-size: 16px;
    font-weight: 700;   
    line-height: 1.75;

}

.firstSegmentButton{
    background-color: transparent;
    color: var(--colorTextWhite);

    font-size: 16px;
    font-weight: 600;
    font-family: var(--newFont);;
    font-style: normal;

    min-width: 35px;
    min-height: 35px;
    margin-top:32px;

    border-width : 1px;
    border-radius: 50px;
    border-style: solid;
    border-color: var(--colorTextWhite);

    padding: 7px 16px;
    line-height: var(--buttonLineHeight);
    text-align: center;
    box-sizing: border-box;

    margin: 32px 0px 0px;

    cursor: pointer;
}

.firstSegmentButton:hover{
    background-color: rgb(50, 70, 47);
    
}

/* Second Segment W Image */

.SecondSegmentWImage{
    background-color:#006342;
    width: calc(100% - 48px);
    max-width: 1440px;
    height:  420px;
    display: flex;
    margin: 24px 24px 0px 24px;
}

.SecondSegmentImage{
    width: 50%;
    height: 420px;
    object-fit: cover;
}

.SecondSegmentTextContainer{
    width: 50%;
    height: 420px;
    padding: 32px 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color:#006342;

}

.SecondSegmentText{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: var(--newFont);;
    margin: 0px 0px 24px;

}

.SecondSegmentSubText{
    display:flex;
    
    align-items: center;

    color: #ffffff;
    font-family: var(--newFont);;
    font-size: 16px;
    font-weight: 700;   
    line-height: 1.75;

}

.SecondSegmentButton{
    background-color: transparent;
    color: var(--colorTextWhite);

    font-size: 16px;
    font-weight: 600;
    font-family: var(--newFont);;
    font-style: normal;

    min-width: 35px;
    min-height: 35px;
    margin-top:32px;

    border-width : 1px;
    border-radius: 50px;
    border-style: solid;
    border-color: var(--colorTextWhite);

    padding: 7px 16px;
    line-height: var(--buttonLineHeight);
    text-align: center;
    box-sizing: border-box;

    margin: 32px 0px 0px;

    cursor: pointer;
}

.SecondSegmentButton:hover{
    background-color: rgb(50, 70, 47);
    
}

/* Third Segment W Image */

.ThirdSegmentWImage{
    background-color:#006342;
    width: calc(100% - 48px);
    max-width: 1440px;
    height:  420px;
    display: flex;
    margin: 24px 24px 0px 24px;
}

.ThirdSegmentImage{
    width: 50%;
    height: 420px;
    object-fit: cover;
}

.ThirdSegmentTextContainer{
    width: 50%;
    height: 420px;
    padding: 32px 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color:#006342;

}

.ThirdSegmentText{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: var(--newFont);;
    margin: 0px 0px 24px;

}

.ThirdSegmentSubText{
    display:flex;
    
    align-items: center;

    color: #ffffff;
    font-family: var(--newFont);;
    font-size: 16px;
    font-weight: 700;   
    line-height: 1.75;

}

.ThirdSegmentButton{
    background-color: transparent;
    color: var(--colorTextWhite);

    font-size: 16px;
    font-weight: 600;
    font-family: var(--newFont);;
    font-style: normal;

    min-width: 35px;
    min-height: 35px;
    margin-top:32px;

    border-width : 1px;
    border-radius: 50px;
    border-style: solid;
    border-color: var(--colorTextWhite);

    padding: 7px 16px;
    line-height: var(--buttonLineHeight);
    text-align: center;
    box-sizing: border-box;

    margin: 32px 0px 0px;

    cursor: pointer;
}

.ThirdSegmentButton:hover{
    background-color: rgb(50, 70, 47);
    
}

/* Fourth Segment W Image */

.FourthSegmentWImage{
    background-color:#006342;
    width: calc(100% - 48px);
    max-width: 1440px;
    height:  420px;
    display: flex;
    margin: 24px 24px 24px 24px;
}

.FourthSegmentImage{
    width: 50%;
    height: 420px;
    object-fit: cover;
}

.FourthSegmentTextContainer{
    width: 50%;
    height: 420px;
    padding: 32px 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color:#006342;

}

.FourthSegmentText{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: var(--newFont);;
    margin: 0px 0px 24px;

}

.FourthSegmentSubText{
    display:flex;
    
    align-items: center;

    color: #ffffff;
    font-family: var(--newFont);;
    font-size: 16px;
    font-weight: 700;   
    line-height: 1.75;

}

.FourthSegmentButton{
    background-color: transparent;
    color: var(--colorTextWhite);

    font-size: 16px;
    font-weight: 600;
    font-family: var(--newFont);;
    font-style: normal;

    min-width: 35px;
    min-height: 35px;
    margin-top:32px;

    border-width : 1px;
    border-radius: 50px;
    border-style: solid;
    border-color: var(--colorTextWhite);

    padding: 7px 16px;
    line-height: var(--buttonLineHeight);
    text-align: center;
    box-sizing: border-box;

    margin: 32px 0px 0px;

    cursor: pointer;
}

.FourthSegmentButton:hover{
    background-color: rgb(50, 70, 47);
    
}

/* Restrictions Text */

.SpaceForText{
    width: calc(100% - 48px);
    max-width: 1440px;
    height:  114.4px;
    margin: 0px auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.RestrictionsText{
    max-width: calc(1em * (calc(600 / 13)));
    
    color:#000000;
    font-size: 14px;
    line-height: 1.8;
    
    text-align: center;

    margin: 0px auto;
    padding: 0px 48px;

    font-family: var(--newFont);;

    font-weight: bold;

    padding: 32px 0px;
}

/* Bottom Section About US */

.footerColumns{
    padding: 24px 40px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footerColumn {
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
}

.footerColumn a{
    padding: 8px 0px;
    margin: 0px 0px 8px;
    width: auto;
    height: auto;
    color: #00000094;
    font-size: 16px;
    font-family: var(--newFont);;
    font-weight: 700;
    text-decoration: none;
}

.footerColumn a:hover{
    color: #000000;
}

.footerHeading{
    background: none;
    border: none;
    padding: 0;

    font-size: 19px;
    margin: 0px 0px 24px;
    font-family: var(--newFont);;
    font-weight: bold;

    text-align: left;
    color: #000000;
}

.footerArrow{
    display: none;
}
.footerLinks{
    display: flex;
    flex-direction: column;
}

/* Seperator */

.seperator{
    border: none;
    border-top: 1px solid rgb(128, 128, 128);
    margin: 32px 24px;
}

/* social buttons at the bottom */

.socialList{
    display: flex;
    gap: 16px;
    margin: 0px 4px 0px 0px;
    list-style: none;
}

.socialList svg{
    width: 32px;
    height: 32px;
}

.socialIcon {
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    overflow: hidden;

    background-color: transparent;

    color: black;
    text-decoration: none;
}
.socialIcon:hover{
    background-color: #c9c8c8;
}

/* Lowest Footer */

.footerBottomArea {
    list-style: none;
    
}

.footerSecondList{
    margin: 0px 0px 4px;
    padding: 8px 0px;
    color: #000000DE;
    line-height: 24px;
    display: block;
    font-family: var(--newFont);;
    font-weight: bold;
    font-size: 16px;

    letter-spacing: -0.16px;
    
}

.footerSecondList:hover{
    text-decoration:underline;
}

.bottomTextBlack{
    font-size: 14px;
    padding: 16px 0px;
    line-height: 21px;
    letter-spacing: -0.16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.58);
    font-family: var(--newFont);;
    padding-left: 40px;
}

.hamburger{
    display: none;
}

.mobileOverlay,
.mobileMenuPanel{
    display: none;
}

@media (max-width:1440px) {
    
    .siteLimits{
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
    
    .startOrder,
    .firstSegmentWImage,
    .SecondSegmentWImage,
    .ThirdSegmentWImage,
    .FourthSegmentWImage {
        width: 100%;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px){

    .siteLimits{
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .findStore{
        margin-left: 0;
    }

    .navLeft .menu,
    .navLeft .rewards,
    .navLeft .giftCards,
    .navRight {
        display: none;
    }

    .hamburger{
        display: block;
        margin-left: auto;

        font-size: 24px;
        color: #000000;
        background: transparent;
        border: none;
        cursor: pointer;

        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .footerColumns{
        flex-direction: column;
        gap: 0;
        padding: 24px;
        width: 100%;

    }

    .footerColumn{
        width: 100%;
    }

    .footerColumn a{
        width: 100%;
        height: auto;
    }

    .firstSegmentWImage,
    .ThirdSegmentWImage{
        flex-direction: column;
        height: auto;
    }

    .SecondSegmentWImage,
    .FourthSegmentWImage{
        flex-direction: column-reverse;
        height: auto;
    }

    .firstSegmentImage,
    .SecondSegmentImage,
    .ThirdSegmentImage,
    .FourthSegmentImage {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .firstSegmentTextContainer,
    .SecondSegmentTextContainer,
    .ThirdSegmentTextContainer,
    .FourthSegmentTextContainer {
        width: 100%;
        height: auto;
    }

    .footerHeading{
        outline: none;
        -webkit-tap-highlight-color: transparent;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 16px 0;
        margin: 0;

        cursor: pointer;
    }

    .footerArrow{
        display: block;
    }

    .footerLinks{
        display: none;
    }

    .footerColumn.open .footerLinks{
        display: flex;
        flex-direction: column;
    }

    .footerColumn.open .footerArrow{
        transform: rotate(45deg);
    }

    .mobileMenuPanel{
        position: fixed;

        top: 72px;
        right: 0px;
        width: 80%;
        height: calc(100vh - 72px);
        background-color: white;
        flex-direction: column;
        padding: 16px 32px;
        z-index: 20;

        padding: 0;
    }

    .mobileOverlay {
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0, 0, 0, 0.35);

        z-index: 10;
    }

    .mobileMenuPanel.open{
        display: flex;
    }  

    .mobileMenuPanel .menu,
    .mobileMenuPanel .rewards,
    .mobileMenuPanel .giftCards{
        width: 100%;
        margin: 0px 0px 0px 0px;
        font-size: 19px;
        font-weight: bold;
        letter-spacing: 1.4px;
        font-family: var(--newFont);;
        line-height: 28.5px;
        cursor: pointer;
        color: #000000;
        padding: 16px 32px;
        text-decoration: none;

        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .mobileMenuPanel .seperator{
        padding: 16px 32px 32px 32px;
    }

    .mobileMenuPanel .mobileButtons{
        outline: none;
        -webkit-tap-highlight-color: transparent;
        padding: 0px 24px;
        display: flex;
        gap: 8px;
    }

    .mobileMenuPanel .findStore{
        margin-top: 16px;
        padding: 0px 24px;
        line-height: 21px;

        outline: none;
        -webkit-tap-highlight-color: transparent;

        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.4px;
        font-family: var(--newFont);;
        cursor: pointer;
        color: #000000;
        
        text-decoration: none;

    }

    .mobileOverlay.open{
        display: block;
    }

}